################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/x64/Debug
/.vs
/tetris1/x64/Debug
*.aps
*.filters
*.user
